# ----------------------------------------------------------------------
# Git
# ----------------------------------------------------------------------
.git
.gitignore

# ----------------------------------------------------------------------
# Docker
# ----------------------------------------------------------------------
.dockerignore
Dockerfile
docker-compose.yml

# ----------------------------------------------------------------------
# Python Build & Cache
# ----------------------------------------------------------------------
.venv/
*.egg-info/
__pycache__/
build/
dist/
.env
.pytest_cache/
.ruff_cache/

# ----------------------------------------------------------------------
# IDE & OS
# ----------------------------------------------------------------------
.idea/
.vscode/
*.DS_Store

# ----------------------------------------------------------------------
# Infrastructure, Docs & Tests
# ----------------------------------------------------------------------
docs/
helm/
tests/
Makefile

# ----------------------------------------------------------------------
# Data, Models, Logs, and Reports
# ----------------------------------------------------------------------
mlruns/
reports/

# ----------------------------------------------------------------------
# ML Artifacts
# ----------------------------------------------------------------------
data/*
models/*

!data/processed/
!data/raw/ratings.dat
!models/recsys_model.onnx
!models/*.json