# Git
.git/
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Python Build & Cache
.venv/
*.egg-info/
__pycache__/
build/
dist/
.env
.pytest_cache/

# IDE & OS
.idea/
.vscode/
*.DS_Store

# Data, Models, Logs, and Reports
mlruns/
reports/

# --- SMART EXCLUSIONS FOR ML ARTIFACTS ---
data/*
models/*

!data/processed/
!data/raw/ratings.dat
!models/recsys_model.onnx
!models/*.json